



/*//////////////////////////////////////////////////////////////////
[ FONT ]*/

@font-face {
  font-family: Poppins-Regular;
  src: url('../fonts/poppins/Poppins-Regular.ttf');
}

@font-face {
  font-family: Poppins-Medium;
  src: url('../fonts/poppins/Poppins-Medium.ttf');
}

@font-face {
  font-family: Poppins-Bold;
  src: url('../fonts/poppins/Poppins-Bold.ttf');
}

@font-face {
  font-family: Poppins-SemiBold;
  src: url('../fonts/poppins/Poppins-SemiBold.ttf');
}

@font-face {
  font-family: Montserrat-Bold;
  src: url('../fonts/montserrat/Montserrat-Bold.ttf');
}


/*//////////////////////////////////////////////////////////////////
[ RESTYLE TAG ]*/

* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

body, html {
	height: 100%;
	font-family: Poppins-Regular, sans-serif;
}

/*---------------------------------------------*/
a {
	font-family: Poppins-Regular;
	font-size: 14px;
	line-height: 1.7;
	color: #666666;
	margin: 0px;
	transition: all 0.4s;
	-webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
}

a:focus {
	outline: none !important;
}

a:hover {
	text-decoration: none;
  color: #333333;
}

/*---------------------------------------------*/
h1,h2,h3,h4,h5,h6 {
	margin: 0px;
}

p {
	font-family: Poppins-Regular;
	font-size: 14px;
	line-height: 1.7;
	color: #666666;
	margin: 0px;
}

ul, li {
	margin: 0px;
	list-style-type: none;
}


/*---------------------------------------------*/
input {
	outline: none;
	border: none;
}

textarea {
  outline: none;
  border: none;
}

textarea:focus, input:focus {
  border-color: transparent !important;
}

input::-webkit-input-placeholder { color: #999999;}
input:-moz-placeholder { color: #999999;}
input::-moz-placeholder { color: #999999;}
input:-ms-input-placeholder { color: #999999;}

textarea::-webkit-input-placeholder { color: #999999;}
textarea:-moz-placeholder { color: #999999;}
textarea::-moz-placeholder { color: #999999;}
textarea:-ms-input-placeholder { color: #999999;}

/*---------------------------------------------*/
button {
	outline: none !important;
	border: none;
	background: transparent;
}

button:hover {
	cursor: pointer;
}

iframe {
	border: none !important;
}

/*//////////////////////////////////////////////////////////////////
[ utility ]*/

/*==================================================================
[ Text ]*/

.txt1 {
  font-family: Poppins-Regular;
  font-size: 13px;
  line-height: 1.4;
  color: #999999;
}

.txt2 {
  font-family: Poppins-Regular;
  font-size: 13px;
  line-height: 1.4;
  color: #3a437e;
}

.txt2-lm {
  font-family: Poppins-Regular;
  font-size: 13px;
  line-height: 1.4;
  color: #981815;
}

.txt3 {
  font-family: Poppins-Regular;
  font-size: 15px;
  line-height: 1.4;
  color: #3a437e;
  text-transform: uppercase;
}

.txt3-lm {
  font-family: Poppins-Regular;
  font-size: 15px;
  line-height: 1.4;
  color: #981815;
  text-transform: uppercase;
}

.txt3:hover,
.txt2:hover {
  color:#999999;
}

/*==================================================================
[ Size ]*/
.size1 {
  width: 355px;
  max-width: 100%;
}

.size2 {
  width: calc(100% - 43px);
}


/*//////////////////////////////////////////////////////////////////
[ login ]*/

.limiter {
  width: 100%;
  margin: 0 auto;
}

.container-login100 {
  width: 100%;
  min-height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 15px;
  background: #f2f2f2;
}

.wrap-login100 {
  width: 1170px;
  background: #fff;
  overflow: hidden;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  flex-direction: row-reverse;

}

.wrap-login100-r {
  width: 1170px;
  overflow: hidden;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: stretch;
}

/*==================================================================
[ login more ]*/
.login100-more {
  background-image: url('/static/bg-01.jpg');
  width: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  z-index: 1;
}

.login100-more::before {
  content: "";
  display: block;
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0,0,0,0.3);
}



/*==================================================================
[ Form ]*/

.login100-form {
  width: 50%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  padding: 303px 65px 40px 65px;
}

.login100-form-r {
  width: 50%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  padding: 40px 65px 40px 65px;
}

.login100-form-title {
  font-family: Poppins-Regular;
  font-size: 20px;
  color: #555555;
  line-height: 1.2;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-align: center;

  width: 100%;
  display: block;
}

.mail__text-span {
  font-size: 10px;
}


/*------------------------------------------------------------------
[ Input ]*/

.wrap-input100 {
  width: 100%;
  position: relative;
  border: 1px solid #e6e6e6;
}

.rs1-wrap-input100{
  margin-right: 6%;
}

.rs1-wrap-input100,
.rs2-wrap-input100 {
  width: 47%;
}

.rs2-wrap-input100 {
  border-left: none;
}


.input100 {
  display: block;
  width: 100%;
  background: transparent;
  font-family: Poppins-Regular;
  font-size: 18px;
  color: #666666;
  line-height: 1.2;
  padding: 0 25px;
}

input.input100 {
  height: 55px;
}

/*---------------------------------------------*/

.focus-input100 {
  position: absolute;
  display: block;
  width: calc(100% + 2px);
  height: calc(100% + 2px);
  top: -1px;
  left: -1px;
  pointer-events: none;
  border: 1px solid #3a437e;

  visibility: hidden;
  opacity: 0;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;

  -webkit-transform: scaleX(1.1) scaleY(1.3);
  -moz-transform: scaleX(1.1) scaleY(1.3);
  -ms-transform: scaleX(1.1) scaleY(1.3);
  -o-transform: scaleX(1.1) scaleY(1.3);
  transform: scaleX(1.1) scaleY(1.3);
}

.input100:focus + .focus-input100 {
  visibility: visible;
  opacity: 1;

  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}

.input100::placeholder {
  text-align: center;
  color: #000000;
}


/*------------------------------------------------------------------
[ Button ]*/
.container-login100-form-btn {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.login100-form-btn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  width: 100%;
  height: 50px;
  border-radius: 3px;
  background: #3a437e;

  font-family: Montserrat-Bold;
  font-size: 12px;
  color: #fff;
  line-height: 1.2;
  text-transform: uppercase;
  letter-spacing: 1px;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.login100-form-btn-lm {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  width: 100%;
  height: 50px;
  border-radius: 3px;
  background: #981815;

  font-family: Montserrat-Bold;
  font-size: 12px;
  color: #fff;
  line-height: 1.2;
  text-transform: uppercase;
  letter-spacing: 1px;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.login100-form-btn:hover {
  background: #333333;
}

.login100-form-btn-lm:hover {
  background: #333333;
}


/*------------------------------------------------------------------
[ Responsive ]*/

@media (max-width: 992px) {
  .login100-form {
    width: 60%;
    padding-left: 30px;
    padding-right: 30px;
  }

  .login100-more {
    width: 40%;
  }
}

@media (max-width: 768px) {
  .login100-form {
    width: 100%;
  }

  .login100-more {
    width: 100%;
  }
}

@media (max-width: 576px) {
  .login100-form {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 150px;
  }

  .rs1-wrap-input100,
  .rs2-wrap-input100 {
    width: 100%;
  }

  .rs2-wrap-input100 {
    border-left: 1px solid #e6e6e6;
  }
}


/*------------------------------------------------------------------
[ Alert validate ]*/

.validate-input {
  position: relative;
}

.alert-validate::before {
  content: attr(data-validate);
  position: absolute;
  max-width: 70%;
  background-color: #fff;
  border: 1px solid #c80000;
  border-radius: 2px;
  padding: 4px 25px 4px 10px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 12px;
  pointer-events: none;

  font-family: Poppins-Regular;
  color: #c80000;
  font-size: 13px;
  line-height: 1.4;
  text-align: left;

  visibility: hidden;
  opacity: 0;

  -webkit-transition: opacity 0.4s;
  -o-transition: opacity 0.4s;
  -moz-transition: opacity 0.4s;
  transition: opacity 0.4s;
}

.alert-validate::after {
  content: "\f12a";
  font-family: FontAwesome;
  display: block;
  position: absolute;
  color: #c80000;
  font-size: 16px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 18px;
}

.alert-validate:hover:before {
  visibility: visible;
  opacity: 1;
}

@media (max-width: 992px) {
  .alert-validate::before {
    visibility: visible;
    opacity: 1;
  }
}
/************************************/

 /*         LOGGED               */

/************************************/

.nav{
  height: 8rem;
  width: 100vw;

  background-image: linear-gradient(#515c94ba, #3a437ecb), url(/static/bg-logged.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  font-family: Poppins-Regular, Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

/************************************/

 /*              LOGO               */

/************************************/

.nav__logo{
  display: grid;
  grid-template-columns: 1fr max-content 1fr;
  grid-column-gap: 1rem;
  align-items: center;
}

.nav__logo-img{
  width: 3rem;
  height: 3rem;
  cursor: pointer;
  background-color: transparent;
}
.nav__logo::before,
.nav__logo::after{
  display: block;
  content: "LOGO";
  color: #515c94ba;
}
/************************************/

/*         Search_inpt              */

/************************************/
.nav__search{
  width: max-content;
  height: max-content;
  margin-left: 10vw;
  margin-right: auto;
}

.nav__search-input{
  border-radius: 50px;
  text-align: center;
  width: 15rem;
  height: 2.5rem;
  will-change: transform;
  background-color: #f4f6fdba;
  color: #515c94;
  transition: all .7s;
  box-shadow: 4px -3px 25px -4px rgba(0,0,0,0.65);
}
.nav__search-input:focus,
.nav_search-input:active{
  transform: scale(1.08);
  color: #3a437e;
  cursor: pointer;
  background-color: #c4ceffba;
}
/************************************/

/*           RIGHT NAV              */

/************************************/
.nav__logout{
  font-family: Poppins-Regular, Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all .5 ease-in;
}
.nav__logout > *:hover{
  transform: scale(1.13);
}
.nav__logout-icon-box{
  position: relative;
  cursor: pointer;
}
.nav__logout-icon-box:not(:last-child){
  margin-right: 2rem;
}
.nav__logout-icon-box:last-child{
  margin-right: 1rem;
}
.nav__logout-icon{
  width: 2.5rem;
  height: 2.5rem;
  fill: #e8ebffba;
}

.nav__logout-span{
  display: block;
  position: absolute;
  top: 2.5rem;
  left: -1.5rem;
  font-family: inherit;
  color:#515c94ba;
}
.nav__logout-username{
  margin-right: 5vw;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: 600;
  color: currentColor;
}
.content{
  background-image: linear-gradient(#ffffffed, #ffffffed), url(/static/bg_container.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0 auto;
  min-height: 100vh;
  max-width: 100vw;

  display: grid;
  grid-template-rows: 1fr 20vh;
  grid-template-columns: [start-gap] 10rem [start-end center-start] repeat(4, [col-start] minmax(min-content, 24rem) [col-end]) [center-end] minmax(10rem, 1fr);
}
.content > *{
  padding: 4rem;
  font-size: 3rem;
}
/************************************/

 /*           CARD-STYLE           */

/************************************/

.item__holder{
  grid-column: center-start / center-end;
  margin: 8rem 0;
  box-shadow: 5px 5px 20px -5px rgba(0, 0, 0, 0.9);
  font-family: Poppins-Regular, Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  grid-gap: 6rem;
}

.item__single{
  box-shadow: 5px 5px 20px -5px rgba(0, 0, 0, 0.9);
  font-family: inherit;
}
.card{
  background-color: #e6e6e6;
  overflow: hidden;
  border-radius: .4rem;
  font-family: inherit;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-row-gap: 3.5rem;
}

.card__img{
  background-color: #3a437e;
  opacity: 0.87;

  display: block;
  width: 100%;
  grid-row: 1/2;
  grid-column: 1/-1;
  z-index: 1;

  will-change: opacity transform;
  transform: scale(1.15);
  transition: opacity .4s  cubic-bezier(.17,.67,.83,.67),
            transform .4s  cubic-bezier(.17,.67,.83,.67);
}

.card__img:hover{
  opacity: 1;
  transform: scale(1.03);
}

.card__like{
  fill: #ffffffba;
  height: 2.5rem;
  width: 2.5rem;
  margin: 1.5rem 1rem 0 0;
  z-index: 2;

  grid-row: 1/2;
  grid-column: 2/2;
  justify-self: end;
}

.card__title{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 1.6rem;
  text-align: center;
  padding: 1vw;
  padding-bottom: 1.5vh;
  background-color: #515c94;
  font-weight: 400;
  z-index: 1;
  color: #fff;

  width: 80%;
  height: 16%;
  grid-row: 1/2;
  grid-column: 1/-1;
  justify-self: center;
  align-self: end;
  z-index: 3;
  transform: translateY(60%);
}
.card__btn-holder{
  grid-column: 1/-1;
}
.card__btn{
  position: relative;
  display: block;
  margin: 0 auto;
  margin-bottom: 2rem;
  padding: .2rem 2rem;
  box-shadow: 5px 5px 20px -5px rgba(0,0,0,0.75);
  background-color: #515c94;
  color: #fff;
  font-size: 1.6rem;
  text-align: center;
  text-transform: uppercase;
  will-change: background-color;

  transition: all .3s;
}
.card__btn:hover{
  background-color: #3a437e;
}
.card__author,
.card__isbn{
  margin-top: 2.5rem;
}

.card__author,
.card__isbn,
.card__year,
.card__score{
  font-size: 1.5rem;
  margin-left: 2rem;

  display: flex;
  align-items: center;
}

.card__author > svg,
.card__isbn > svg,
.card__year > svg,
.card__score > svg {
  fill: #515c94;
  height: 2rem;
  width: 2rem;
  margin-right: 1.5rem;
}

.not__found{
  margin: 20vh auto;
}

/************************************/

  /*           BOOK-PAGE          */

/************************************/
.bg-video {
  background-color: #3a437e;
  padding: 0 3rem;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  opacity: .1;
  overflow: hidden;
}
.bg-video__content{
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.section-page{

  font-family: Poppins-Regular, Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  display: grid;

  grid-template-rows: repeat(4, [row-start] minmax(10rem, 1fr) [row-end]);
  grid-template-columns: repeat(4, [col-start] minmax(10rem, 1fr) [col-end]);
}
.section-page > *{
  font-size: 2.5rem;
}

.book{
  background-color: transparent;
  margin-top: 10vh;

  grid-column: col-start 1/col-end 2;
  grid-row: 1/ -1;
}
.book__img{
  opacity: .7;

  padding: 5rem 0 3rem 2rem;
  z-index: 1;
}

.card__btn-cheat{
  max-width: 60%;
  margin: 0 auto;
  opacity: .8;
}

.book_details{
  padding: 3rem;
  width: 25vw;
  height: 30vh;

  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;

  clip-path: polygon(0 0, 100% 28%, 75% 100%, 0 56%);
  background-color: #3a437e;
  opacity: .7;

}
.book_details > p {
  font-size: 1rem;
  z-index: 3;
  opacity: 1;
  color: #000;
  font-weight: 300;
}
.book_detail-item{
  font-size: inherit;
  text-transform: uppercase;
}
.book_detail-item > svg {
  width: 2rem;
  height: 2rem;
  opacity: .7;
}
.book_details > *:nth-child(2){
  color: #fff;
  fill: #fff;
  align-self: center;
}
.book_details > *:last-child{
  color: #000;
  font-size: 1rem;
  align-self: flex-end;
  margin-right: 13%;
}

.section__textarea{
  position: relative;
  z-index: 10;
  grid-column: col-start 2 / -1;
  grid-row: 1 / -1;

  background-color: #3a437e;
  opacity: .7;
  clip-path: polygon(0 75.4%, 100% 0, 100% 49%, 74% 100%);

  display: flex;
}
.section__textarea-item{
  width: inherit;
  height: inherit;
  display: flex;
  flex-direction: row;
  margin: 0 auto 8vh auto;
  justify-content: flex-end;
  align-items: flex-end;
  z-index: 20;
}
.section__textarea-textarea{
  position: absolute;
  z-index: 21;
  width: 30%;
  height: 15%;
  padding: .8rem;
  font-size: 1.2rem;
  color: #000;
  margin-left: 10vw;
  margin-bottom: 2vh;

  box-shadow: 4px -3px 25px -4px rgba(0,0,0,0.65);
  border-radius: .5rem;
}
.section__textarea-input{
  text-transform: uppercase;
  justify-self: flex-end;
  align-self: flex-end;
  z-index: 40;
}

.messages{
  grid-column: col-end 2 / -1;
  grid-row: row-start 1 / row-end 3;
}
.messages:first-child{
  margin-top: 3rem;
}
.messages__li{
  list-style-type: none;
}
.messages__item{
  z-index: 11;
  width: 60%;
  max-height: 33.33%;
  margin: 1.4rem auto;
  border-radius: .3rem;
  padding: 1rem;
  padding-left: 5rem;
  font-size: 1.3rem;
  color: #000;

  box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.15);
  background-color: rgba(255, 255, 255, 0.2);

  transform: skewX(-12deg);
}

.messages__shape{
  width: 7rem;
  height: 7rem;
  transform: skewX(12deg);
  clip-path: polygon(0 23%, 100% 23%, 100% 75%, 75% 75%, 75% 100%, 50% 75%, 0% 75%);
  background-size: cover;
}
.messages__img{
  height: 100%;
  width: 100%;
  filter: grayscale(100%);
}