{% extends "base.html" %}

{% block content %}
<nav class="nav">
    <div class="nav__logo">
        <img src="/static/logo_logged.png" alt="Logo" class="nav__logo-img">
    </div>
    <form action="#" class="nav__search">
        <input type="text" class="nav__search-input" placeholder="Search books...">
        <button class="nav__search-btn"></button>
    </form>
    <nav class="nav__logout">
        <div class="nav__logout-icon-box">
            <svg class="nav__logout-icon">
                <use xlink:href="/static/sprite.svg#icon-user"></use>
            </svg>
        </div>
        <div class="nav__logout-icon-box">
            <svg class="nav__logout-icon">
                <use xlink:href="/static/sprite.svg#icon-bubble2"></use>
            </svg>
        </div>
        <div class="nav__logout-user">
            <svg class="nav__logout-icon">
                <use xlink:href="/static/sprite.svg#icon-exit"></use>
            </svg>
        </div>
    </nav>
</nav>
<div class="content">
    <ul class="item_holder">
        <li class="item_single">1</li>
        <li class="item_single">2</li>
        <li class="item_single">3</li>
        <li class="item_single">4</li>
        <li class="item_single">5</li>
        <li class="item_single">6</li>
    </ul>
</div>
{% endblock %}