{% extends "base.html" %}

{% block content %}
<nav class="nav">
    <div class="nav__logo">
        <img src="/static/logo_logged.png" alt="Logo" class="nav__logo-img">
    </div>
    <form action="{{ url_for('search') }}" method="POST" class="nav__search">
        <input type="text" name="bookname" class="nav__search-input" placeholder="Search books...">
        <button class="nav__search-btn"></button>
    </form>
    <nav class="nav__logout">
        <div class="nav__logout-icon-box">
            <svg class="nav__logout-icon">
                <use xlink:href="/static/sprite.svg#icon-user"></use>
            </svg>
            <span class="nav__logout-span">{{ username }}</span>
        </div>
        <div class="nav__logout-icon-box">
            <svg class="nav__logout-icon">
                <use xlink:href="/static/sprite.svg#icon-bubble2"></use>
            </svg>
        </div>
        <div class="nav__logout-icon-box">
            <a href="{{ url_for('logout') }}">
            <svg class="nav__logout-icon">
                <use xlink:href="/static/sprite.svg#icon-exit"></use>
            </svg>
            </a>
        </div>
    </nav>
</nav>
<div class="content">
    <ul class="item__holder">
        {% if notFound %}
        <h1 class="not__found">{{ notFound }}</h1>
        {% endif %}

        {% for book in books %}
        <li class="item__single">
            <div class="card">
                <img src="/static/card/book.jpg" alt="Name_of_book" class="card__img">
                <svg class="card__like">
                    <use xlink:href="/static/card/spritecard.svg#icon-heart"></use>
                </svg>
                <h5 class="card__title">{{ book.title }}</h5>
                <div class="card__author">
                    <svg>
                        <use xlink:href="/static/card/spritecard.svg#icon-user"></use>
                    </svg>
                    <p>{{ book.author }}</p>
                </div>
                <div class="card__isbn">
                    <svg>
                        <use xlink:href="/static/card/spritecard.svg#icon-profile"></use>
                    </svg>
                    <p>ID: {{ book.isbn }}</p>
                </div>
                <div class="card__year">
                    <svg>
                        <use xlink:href="/static/card/spritecard.svg#icon-calendar"></use>
                    </svg>
                    <p>{{ book.year }}<sup> r.</sup></p>
                </div>
                <div class="card__score">
                    <svg>
                        <use xlink:href="/static/card/spritecard.svg#icon-star-full"></use>
                    </svg>
                    <p>{{score}}</p>
                </div>
                <form  class="card__btn" action="{{ url_for('bookpage', isbn=book.isbn, author=book.author, title=book.title, year=book.year) }}" method="POST">
                    <input type="submit" value="book review" class="card__btn" />
                </form>
            </div>
        </li>
        {% endfor %}
        <!----                BREAK POINT BEITACH              -->
    </ul>
</div>
{% endblock %}